



.grid-container { height: 100%; margin: 0; }
.grid-container {
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    grid-template-areas: "map map" "image image" "graph graph";
  }
  
  .map { 
      grid-area: map; 
      
      margin: 0.5%;
      width: 49%;
   }
  
  .image { 
      grid-area: image; 
      
      margin: 0.5%;
      
      padding-top: 20%;
      width: 49%;
   }
  
  .graph { 
      grid-area: graph; 
      background-color: red;
      width: 100%;
      margin: 0.5%;
   }
  
  
  